:focus {
    outline: none;
}

.title{
	font-size: 1em;
	font-style: normal;
	font-weight: normal;
	font-family: serif;
	margin: 0px 10px;
}

body
{
background-color:rgba(255, 255, 255, 0.815);
} 


.calculator
{
    margin: 30px auto 20px auto;
	padding: 10px 10px 0 10px;
	max-width: 300px;
	height: 500px;
	border: 1px solid #063ef5;
	box-shadow: 0 -10px 20px -5px rgba(115,115,115,0.75),
				0 10px 20px -5px rgba(115,115,115,0.75),
				-10px 0 20px -5px rgba(115,115,115,0.75);
	background-color: #cdcdcd;
	background:rgb(224, 222, 222);
	margin: 120px auto;
}

.screan
{
    height: 70px;
    max-width: 100%;
    margin: 10px 20px 40px;
	font-family: 'Verdana', sans-serif;
}

.screan_input
{
	border: 0;
	max-width: 100%;
	max-height: 100%;
	font-size: 1.5em;
	line-height: 80px;
    background-color: rgb(224, 222, 222);
    text-align: right;
    padding: 0px;
}

.screan_result
{
	height: 20px;
	line-height: 25px;
	font-size: 1.5em;
	border: 0;
	background-color: #fff;
}

.button_div{
	margin-top: 110px;
}

button
{
    float: left;
    border: 0;
    margin: 0px 0px 5px 5px;
}

.number-button,
.operator-button,
.percent-button,
.clear-button,
.equals-button,
.negative-button {
	width: 23%;
	height: 10%;
	background-color: rgba(180, 176, 176, 0.288);
	color: black;
	font-size: 1.5em;
}
